.fee-page {
  background-color: #fff;
}

.fee-header {
  padding: 48px 16px;
  text-align: center;
  color: #222;
}

.fee-header h1 {
  font-weight: 500;
  text-align: center;
  margin: 0 auto 20px;
  font-size: 28px;
  letter-spacing: 0.5px;
  display: inline-block;
  position: relative;
  padding-bottom: 15px;
}

.fee-header h1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #f0c419;
}

.fee-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.fee-content .intro {
  color: #727272;
  font-weight: bold;
  margin-bottom: 4px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.fee-content ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style: none;
}
.fee-content li,
ol {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

ol > li:first-child {
  margin-top: 24px !important;
}

.fee-content .internal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  line-height: 1.8;
  margin-bottom: 16px;
}
.fee-content .external-list {
  margin-top: 16px;
  line-height: 1.8;
}

.fee-content .external-list .external-li {
  margin-top: 32px;
  margin-bottom: 12px;
  color: #525252;
}

.fee-content .internal-list li {
  margin-bottom: 6px;
  flex: 0 0 50%;
  background-color: #52525208;
  padding-left: 25px;
  color: #525252;
  position: relative;
}

.fee-content .internal-list li::before {
  content: "⮞";
  position: absolute;
  left: 0;
  color: #525252;
  font-weight: bold;
}

.fee-content .note {
  margin-top: 64px;
  color: #727272;
  font-style: italic;
  text-align: center;
}

.fee-content .tax {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 24px;
  color: #727272;
  font-style: italic;
  text-align: center;
}
