.contact-section {
  padding: 8px 20px 48px;
  max-width: 1180px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  gap: 32px;
}

.contact-section h3 {
  margin-top: 0;
  margin-bottom: 32px;
}

.contact-form {
  display: grid;
  gap: 24px;
  max-width: 600px;
}

.contact-form .grid-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.contact-form label {
  /* display: block; */
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  background: #e06a2d;
  color: #fff;
  border: 0;
  padding: 10px 16px;
  border-radius: 4px;
  width: 90px;
  cursor: pointer;
}

.contact-aside {
  color: #727272;
  line-height: 1.9;
  font-family: "Lato", sans-serif;
}
.contact-aside h3 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 32px;
}

.contact-aside a {
  color: #f0c419;

  text-decoration: none;
}

.contact-section .status-message {
  position: fixed;
  top: 20px;
  left: 40%;
  background-color: #231f20;
  color: #f0c419;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.contact-section .status-message button {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #f0c419;
  cursor: pointer;
  margin-left: 12px;
}
